version: '3.8'

services:
  # База данных
  postgres:
    image: postgres:15
    container_name: clinic-postgres
    environment:
      POSTGRES_DB: clinic_db
      POSTGRES_USER: clinic_user
      POSTGRES_PASSWORD: clinic_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - clinic-network

  # Eureka Discovery Server
  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - clinic-network
    depends_on:
      - postgres

  # API Gateway
  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    networks:
      - clinic-network
    depends_on:
      - discovery-service

  # Микросервисы
  staff-service:
    build: ./staff-service
    container_name: staff-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    networks:
      - clinic-network
    depends_on:
      - discovery-service
      - postgres

  patient-service:
    build: ./patient-service
    container_name: patient-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    networks:
      - clinic-network
    depends_on:
      - discovery-service
      - postgres

  appointment-service:
    build: ./appointment-service
    container_name: appointment-service
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    networks:
      - clinic-network
    depends_on:
      - discovery-service
      - postgres

  audit-service:
    build: ./audit-service
    container_name: audit-service
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    networks:
      - clinic-network
    depends_on:
      - discovery-service
      - postgres

  export-service:
    build: ./export-service
    container_name: export-service
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    networks:
      - clinic-network
    depends_on:
      - discovery-service
      - postgres

volumes:
  postgres_data:

networks:
  clinic-network:
    driver: bridge